@model IEnumerable<project.Models.MyOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
           
            <th scope="col">
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
